.content:not(.custom), .page-edit, .page-nav {
    margin: 0 8% !important;
}
.page-edit {
    padding: 1rem 0;
}

.theme-container p.date {
    text-align: right;
    margin: 0px 0 30px;
    font-weight: bold;
}

.home .hero img {
    border-radius: 140px;
}
.home .hero .description {
    max-width: 36rem !important;
}

.page .content h1 {
    padding-bottom: 1rem;
}